@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
    /* Dark theme */
    --background: #191B40;
    --primary: #F21BB9;
    --secondary: #492073;
    --accent: #F2865E;
    --accent-light: #F2A74B;
    --text: #ddd;
    --shadow: #000;
    /* Light theme */
    /* --background: #8890BF;
    --primary: #7B6CD9;
    --secondary: #F280BF;
    --accent: #5BD9C2;
    --accent-light: #8EFFF5;
    --text: #252620;
    --shadow: #888; */
    
    --width: max(60vw, 50vh);
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0 auto;
    width: var(--width);
    background: var(--background); 
}

nav {
    display: flex;
    position: absolute;
    right: 10px;
}

nav a {
    font-size: calc(var(--width) / 30);
    padding: calc(var(--width) / 45);
    font-weight: bold;
    text-decoration: none;
}

.gradient-text {
    background: -webkit-linear-gradient(-45deg, var(--primary), var(--accent));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#introduction {
    display: flex;
    align-items: center;
    height: 100vh;
}

#intro-img {
    border-radius: 100%;
    width: calc(var(--width) / 3);
}

#intro-text {
    margin-left: calc(var(--width) / 32);
    font-weight: bolder;
    font-size: calc(var(--width) / 32);
    width: max-content;
}

.larger {
    font-size: calc(var(--width) / 16);
}

#about a, footer a {
    color: var(--accent);
    text-decoration: none;
    transition: 0.5s;
}

#about a:hover, footer a:hover {
    color: var(--accent-light);
    transition: 0.5s;
}

article p, article ul {
    color: var(--text);
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: calc(var(--width) / 4);
    padding: 1em;
    border-radius: 16px;
    background: var(--background);
    transition: .2s;
    margin: 0;
}

.card:focus-within~.card, .card:hover~.card {
    transform: translateX(100px);
}

.card:hover {
    transform: translateY(-10px);
}

.card:not(:first-child) {
    margin-left: -100px;
}

#portfolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: calc(var(--width) / 40);
}

#portfolio .grid-item {
    width: fit-content;
    padding: 1em;
    border-radius: 16px;
    background: var(--background);
}

#portfolio img {
    width: 100%;
    border-radius: 16px;
}

footer {
    text-align: center;
    color: var(--text);
    margin-bottom: 1em;
    margin-top: 3em;
}

.shadow {
    box-shadow: -10px 0 30px var(--shadow);
}

.hover a {
    color: inherit;
    text-decoration: none;
    /* transition: 0.25s; */
}

.hover:hover a {
    border-bottom: 2px dashed var(--accent);
    /* transition: 0.25s; */
}

@media screen and (max-width: 600px) {
    body {
        width: 90%;
        margin: 10px auto;
    }
    #introduction {
        flex-direction: column;
        justify-content: center;
    }
    
    #intro-img {
        width: 50%;
    }
    
    #intro-text {
        margin-left: 0px;
        font-size: calc(var(--width) / 20);
    }

    .card-list {
        flex-direction: column;
    }

    .card {
        width: 100%;
        padding: 0;
    }

    .card h3 {
        margin-left: 1em;
    }
    
    .card:focus-within~.card, .card:hover~.card {
        transform: none;
    }
    
    .card:hover {
        transform: none;
    }
    
    .card:not(:first-child) {
        margin-left: 0;
    }

    #portfolio {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
}