@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
    --background: #091121;
    --primary: #D51B6Fcc;
    --primary-dark: #8A0440cc;
    --accent: #0B778Acc;
    --accent-light: #06B7D6cc;
    --light: #e0e0e0cc;
    --width: max(60vw, 60vh);
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0 auto;
    width: var(--width);
    background: var(--background);
}

nav {
    position: absolute;
    right: 0.5em;
    margin: 0.5em auto;
    display: flex;
    width: var(--width);
    justify-content: flex-end;
}

nav a {
    font-size: 2em;
    padding: 0.5em;
    font-weight: bold;
    text-decoration: none;
    transition: 0.5s;
}

nav a:hover {
    transition: 0.5s;
    translate: 0 -8px;
}

.gradient-text {
    mix-blend-mode: normal;
    background: -webkit-linear-gradient(-45deg, var(--primary-dark), var(--accent));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#introduction {
    display: flex;
    align-items: center;
    height: 100vh;
}

#intro-img {
    border-radius: 100%;
    width: calc(var(--width) / 3);
}

#intro-text {
    margin-left: 1em;
    flex: 3;
    font-weight: bolder;
    font-size: calc(var(--width) / 32);
    width: max-content;
}

.larger {
    font-size: calc(var(--width) / 16);
}

article a, footer a {
    color: var(--accent);
    text-decoration: none;
    transition: 0.5s;
}

article a:hover, footer a:hover {
    color: var(--accent-light);
    transition: 0.5s;
}

article p, article ul {
    color: var(--light);
}

.card-list {
    display: flex;
    padding: 20px;
}

.card {
    width: var(--width / 4);
    min-width: 250px;
    padding: 20px;
    border-radius: 16px;
    background: var(--background);
    box-shadow: -10px 0 30px #000;
    transition: .2s;
    margin: 0;
}

.card:focus-within~.card, .card:hover~.card {
    transform: translateX(100px);
}

.card:hover {
    transform: translateY(-10px);
}

.card:not(:first-child) {
    margin-left: -100px;
}

#portfolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: max-content;
    gap: 20px;
}

#portfolio .grid-item {
    grid: 1;
    width: 90%;
    padding: 20px;
    border-radius: 16px;
    background: var(--background);
    box-shadow: -10px 0 30px #000;
}

#portfolio .grid-item img {
    width: 100%;
    border-radius: 16px;
}

footer {
    text-align: center;
    color: var(--light);
    margin-bottom: 1em;
    margin-top: 3em;
}