@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {    
    --width: max(60vw, 50vh);
    --theme-1-dark: hsl(189, 100%, 25%);
    --theme-1-light: hsl(189, 100%, 50%);
    --theme-2-dark: hsl(333, 100%, 30%);
    --theme-2-light: hsl(333, 100%, 50%);
    --theme-light: hsl(220, 57%, 92%);
    --theme-dark: hsl(220, 57%, 8%);
}

.dark {
    --background: var(--theme-dark);
    --primary: var(--theme-2-light);
    --secondary: var(--theme-2-dark);
    --accent-primary: var(--theme-1-light);
    --accent-secondary: var(--theme-1-dark);
    --text: var(--theme-light);
    --shadow: hsl(220, 57%, 16%);
}

.light {
    --background: var(--theme-light);
    --primary: var(--theme-1-light);
    --secondary: var(--theme-1-dark);
    --accent-primary: var(--theme-2-light);
    --accent-secondary: var(--theme-2-dark);
    --text: var(--theme-dark);
    --shadow: hsl(220, 57%, 84%);
}

#logo-button {
    font-family: 'Press Start 2P', cursive;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0 auto;
    width: var(--width);
    background: var(--background); 
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-item {
    padding: calc(var(--width) / 80);
    margin: calc(var(--width) / 80);
    text-align: center;
}

.nav-item a {
    color: var(--accent-primary);
    transition: 0.5s;
}

.nav-item a:hover {
    color: var(--accent-secondary);
    transition: 0.5s;
}

.flex-start {
    margin-right: auto;
    text-align: left;
}

.flex-end {
    margin-left: auto;
    text-align: right;
}

.flex-start, .flex-end {
    width: calc(var(--width) / 3);
}

nav a {
    font-size: 2em;
    color: currentColor;
    font-weight: bold;
    text-decoration: none;
}

.gradient-text {
    background: -webkit-linear-gradient(-45deg, var(--primary), var(--accent-primary));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card h3, .card ul {
    max-width: fit-content;
}

#introduction {
    display: flex;
    align-items: center;
    height: 100vh;
}

.intro-img {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 100%;
    width: calc(var(--width) / 3);
    height: calc(var(--width) / 3);
    background: linear-gradient(-45deg, var(--primary), var(--accent-primary));
}

.intro-img img {
    width: 98%;
    border-radius: 100%;
}

#intro-text {
    margin-left: calc(var(--width) / 32);
    font-weight: bolder;
    font-size: calc(var(--width) / 32);
    width: max-content;
}

.larger {
    font-size: calc(var(--width) / 16);
}

#about a, footer a {
    color: var(--accent-primary);
    text-decoration: none;
    transition: 0.5s;
}

#about a:hover, footer a:hover {
    color: var(--accent-secondary);
    transition: 0.5s;
}

article p, article ul {
    color: var(--text);
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: calc(var(--width) / 4);
    word-wrap: break-word;
    padding: 1em;
    border-radius: 16px;
    background: var(--background);
    transition: .2s;
    margin: 0;
}

.card:focus-within~.card, .card:hover~.card {
    transform: translateX(100px);
}

.card:hover {
    transform: translateY(-10px);
}

.card:not(:first-child) {
    margin-left: -100px;
}

#portfolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: calc(var(--width) / 40);
}

#portfolio .grid-item {
    width: fit-content;
    padding: 1em;
    border-radius: 16px;
    background: var(--background);
}

#portfolio img {
    width: 100%;
    border-radius: 16px;
}

footer {
    text-align: center;
    color: var(--text);
    margin-bottom: 1em;
    margin-top: 3em;
}

.shadow {
    box-shadow: -10px 0 30px var(--shadow);
}

.hover {
    text-decoration: none;
    border-bottom: 2px solid var(--background);
    /* transition: 0.5s; */
}

.hover:hover {
    border-bottom: 2px solid var(--primary);
    transition: 0.5s;
}

h2, h3 {
    width: max-content;
}

.primary-text {
    color: var(--primary);
}

@media screen and (max-width: 600px) {
    body {
        width: 90%;
        margin: 10px auto;
    }

    nav a {
        font-size: calc(100vw / 16);
    }

    nav {
        display: flex;
        justify-content: space-around;
    }

    .flex-start, .flex-end {
        width: auto;
        margin: 0;
    }

    #introduction {
        flex-direction: column;
        justify-content: center;
    }
    
    #intro-img {
        width: 50%;
    }
    
    #intro-text {
        margin-left: 0px;
        font-size: calc(var(--width) / 20);
    }

    .card-list {
        flex-direction: column;
    }

    .card {
        width: 100%;
        padding: 0;
    }

    .card h3 {
        margin-left: 1em;
    }
    
    .card:focus-within~.card, .card:hover~.card {
        transform: none;
    }
    
    .card:hover {
        transform: none;
    }
    
    .card:not(:first-child) {
        margin-left: 0;
    }

    #portfolio {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
}