:root {
  --blue: #0000ff;
  --purple: #ff00ff;
}

html, body {
  background-color: var(--blue);
}

body {
  font-family: 'Quicksand';
  color:whitesmoke;
  display: flex;
}

header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  background-image: url(assets/gradient.png);
  padding: 2% 0%;
}

.header-image {
  margin: 0 auto;
  display: block;
  width: 75%;
}


.button:link, .button:visited {
  float: left;
  width: 93%;
  margin-bottom: 5px;
  background-color: whitesmoke;
  color: var(--purple);
  padding: 0.5% 1%;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  opacity: 0.8;
}

nav {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
}

article {
  padding-top: 35%;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  padding-bottom: 10%;
}

h2 {
  color: var(--purple);
}

hr {
  height: 3px;
  background-color: var(--purple);
  border: none;
  margin: 0px;
}

footer {
  position: fixed;
  background-color: var(--blue);
  right: 0;
  left: 0;
  bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.logo {
  float: left;
  width: 60px;
  padding-right: 10px;
}

.footer-content {
  margin-left: auto;
  margin-right: auto;
  display:block;
  width: 19em;
}

a {
  color: var(--purple);
  text-decoration: none;
}

.game-image {
  width: 30%;
  float: left;
  padding: 0.5%;
}

@media only screen and (min-width: 600px) { /* For Tablets, small screens */
  article {
    padding-top: 20%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .header-image {
    width: 80%;
  }

  .button:link, .button:visited {
    float: none;
    width: 60px;
    margin-bottom: 0px;
  }

  .twitter-timeline {
    align-self: center;
  }
}

@media only screen and (min-width: 1000px) { /* For all other screens */
  article {
    padding-top: 17%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

  .header-image {
    width: 60%;
  }
}