body {
  background-color: #121212;
  color:whitesmoke;
  font-family: 'Consolas';
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-image: linear-gradient(to bottom right, #22B573, #F015FF);
  padding-top: 5%;
  padding-bottom: 5%;
}

.header-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 75%;
}


.button:link, .button:visited {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.5);
  background-color:rgba(0, 0, 0, 0.1);
  color: lightgrey;
  padding: 1% 3%;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  background-color:rgba(0, 0, 0, 0.25);
}

.links {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}

.content {
  padding-top: 25%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10%;
  width: 75%;
}

h2 {
  color: #22B573;
}

.self-image {
  float: left;
  width: 100px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 50%;
}

.about {
  padding-bottom: 25px;
}

.about-paragraph

hr {
  height: 3px;
  background-image: linear-gradient(to right,#22B573,#F015FF);
  border: none;
  margin: 0px;
}

footer {
  background-color: #121212;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.logo {
  float: left;
  width: 55px;
  padding-right: 10px;
}

.footer-content {
  margin-left: auto;
  margin-right: auto;
  display:block;
  width: 277px;
}

a {
  color: #F015FF;
  text-decoration: none;
}