:root {
  --dark-blue: #1A0E3E;
  --light-blue: #1F1A70;
  --dark-pink: #DB488B;
  --light-pink: #FF83F6;
  --cyan: #3ED0EB;
  --background: black;
}

body {
  margin: 0;
  font-family: Quicksand;
  width: 100%;
}

header { 
  text-align: center;
  background-image: linear-gradient(to bottom right, var(--light-pink), var(--light-blue));
  padding: 10px;
}

header img {
  max-width: 100%;
}

nav {
  flex-direction: column;
  display: flex;
  background-color: var(--dark-blue);
}

nav a {
  padding: 10px 0;
  text-decoration: none;
  color: whitesmoke;
  text-align: center;
}

nav a:hover {
  opacity: 0.8;
  background-color: var(--light-blue);
}

nav a img {
  height: 1em;
}

body {
  background-color: var(--background);
  color: whitesmoke;
}

h2 {
  color: var(--light-pink);
}

article {
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 10px;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.center {
  justify-content: center;
}

.box img {
  min-width: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.border {
  border-top-left-radius: 10px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 10px;
}

h3 a {
  text-decoration: none;
  color: var(--background);
  background-image: linear-gradient(to bottom right, var(--light-pink), var(--light-blue));
  padding: 10px;
}

article a:hover {
  opacity: 0.8;
}

footer {
  text-align: center;
  padding: 10px;
}

footer a {
  text-decoration: none;
  color: var(--dark-pink)
}

footer a:hover {
  color: var(--light-pink);
}

footer hr {
  height: 3px;
  border: 0px;
  background-image: linear-gradient(to bottom right, var(--light-pink), var(--light-blue));
  width: 95vw;
}

.padding-top {
  padding-top: 10px;
}

.padding-left {
  padding-left: 10px;
}

.padding-right {
  padding-right: 10px;
}

.padding-bottom {
  padding-bottom: 10px;
}

@media only screen and (min-width: 600px) {
  :root {
    --page-width: 85vw;
  }

  body {
    margin: 0;
  }

  header img {
    width: var(--page-width);
  }

  nav {
    flex-direction: row;
  }

  nav a {
    width: var(--page-width);
    padding: 10px;
  }

  .flex {
    flex-direction: row;
  }

  article {
    width: var(--page-width);
  }

  .box {
    margin-bottom: 10px;
  }

  .txt-left {
    padding-right: 10px;
  }

  .txt-right {
    padding-left: 10px;
  }

  #about-me {
    margin-top: 10px;
  }
}

@media only screen and (min-width: 1000px) {
  :root {
    --page-width: 65vw;
  }

  header img {
    width: var(--page-width);
  }

  article {
    width: var(--page-width);
  }
}