@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Martian+Mono:wght@100;200;300;400;500;600;700;800&family=Noto+Color+Emoji&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --accent: 0 206 124;
    --primary: 149 120 211;
    --light: 231 227 231;
    --dark: 24 28 24;
}

.light {
    --background: var(--light);
    --foreground: var(--dark);
    --background-alt: white;
}

.dark {
    --background: var(--dark);
    --foreground: var(--light);
    --background-alt: black;
}