---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Not Found" description="404 Error — this page was not found">
	<div class="flex w-full h-full justify-center items-center">
		<Hero title="404" tagline="Not found" />
	</div>
</Layout>
