---
import BaseLayout from '../layouts/BaseLayout.astro';

import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Kai Schuyler Gonzalez" description="About Kai Schuyler Gonzalez">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="I am a software engineer and designer, specialized in application development."
			>
				<img
					src="/assets/about-me.jpg"
					alt="Kai Schuyler on his most recent trip to Ireland."
					style="border: 1px solid var(--gray-500);"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I am a passionate and experienced developer and designer dedicated to creating engaging and user-friendly applications. With a strong foundation in front-end and back-end development, I bring a comprehensive approach to every project I work on. My goal is to deliver high-quality, pixel perfect websites that not only meet objectives but also provide an exceptional user experience.
					</p>
					<p>
						I am originally from San Jose, Costa Rica and have lived in the Boulder, CO area since 2010. I have a B.S. in Computer Science from the University of Colorado Boulder. During my time there, I minored in Creative Technology and Design and worked for the registrar office as a software developer.
					</p>
					<p>
						My interests include cooking, game development, skiing, backpacking, and photography. I am currently a cook at <a href="https://www.pigandtiger.co/" target="_blank"> Pig and Tiger </a> in Boulder, Colorado, a modern Taiwanese kitchen. On my free time, I am working on personal projects including my design portfolio and a wordle-like web game.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<strong>University of Colorado Boulder</strong> 
					<p>B.S. in Computer Science</p>
					<strong>Uppsala University</strong>
					<p>Computer Graphics study abroad program</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<span>C / C++, C#, CSS, Git, HTML, iOS SDK, JavaScript / Typescript, Node.js, Python, React.js, SQL, Swift, OpenGL / WebGL, Unity</span>
				</div>
			</section>
		</main>
	</div>
</BaseLayout>

<style>
	.content p {
		padding-bottom: 1em;
	}
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		aspect-ratio: 5 / 3;
		object-fit: cover;
		object-position: top;
		width: 100%;
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-50);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-400);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
