---
import { getCollection, type CollectionEntry } from 'astro:content';

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import Layout from '../layouts/Layout.astro';

// Component Imports
import Icon from 'astro-icon';
import Pill from '../components/Pill.astro';
import GridItem from '../components/GridItem.astro';
import { Image } from 'astro:assets';
import portrait from '../../public/assets/portrait.png';

// Content Fetching: List four most recent work projects
const gridItems = await getCollection('grid');

gridItems.sort(function (a:CollectionEntry<'grid'>, b:CollectionEntry<'grid'>) {
  return a.data.sortOrder - b.data.sortOrder;
});
---

<Layout>
	<header class="grid gap-4 grid-cols-1 grid-rows-1 md:grid-cols-3">
		<div class="col-span-1 md:col-span-2 flex flex-col justify-around font-header gap-4">
			<h1 class="text-4xl md:text-6xl lg:text-7xl xl:text-8xl text-emerald-400 font-bold block">
				Hello, I'm Kai.
			</h1>
			<p class="text-lg md:text-2xl text-zinc-800 dark:text-zinc-200 font-light block">
				I write code and design things.
			</p>
			<div class="flex gap-4">
				<Pill><Icon name="bx:bx-code" class="h-6" />Developer</Pill>
				<Pill><Icon name="bx:bxs-pencil" class="h-6" />Designer</Pill>
			</div>
		</div>
		<div class="bg-zinc-200 dark:bg-zinc-900 shadow-outline dark:shadow-outline-dark col-span-1 lg:row-span-2">
			<Image
				src={portrait}
				alt="A profile of Kai"
				class:list={'aspect-square object-cover h-full mx-auto'}
			/>
		</div>
		{
			gridItems.map((item) => (
				<GridItem
					item={item}
				/>
			))
		}
	</header>
</Layout>
