---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="flex flex-col justify-center h-full max-w-screen-md mx-auto gap-4 p-4">
		<div class="font-code text-primary-500">👋🏼 Hello! I'm </div>
		<div id="variable" class="font-code font-semibold text-accent text-4xl md:text-6xl lg:text-7xl xl:text-8xl">Kai Schuyler Gonzalez,</div>
		<div class="font-code text-primary-500">a software engineer and designer based in Colorado.</div>
	</div>
</Layout>

<script is:inline>
// Get the element
var element = document.getElementById('variable');

// Wrap each character in a span
element.innerHTML = element.textContent.split('').map(char => `<span style="opacity: 0">${char}</span>`).join('');

// Get all the spans
var spans = element.getElementsByTagName('span');

// The current index of the spans
var index = 0;

// Create a typing effect
var typingInterval = setInterval(function() {
  // Make the current span visible
  spans[index].style.opacity = '1';
  index++;

  // If all spans are visible, stop the interval
  if (index === spans.length) {
    clearInterval(typingInterval);

    // Start the blinking underscore
    var blinkInterval = setInterval(function() {
      // If the underscore is visible, hide it, otherwise show it
      if (element.textContent.endsWith('_')) {
        element.textContent = element.textContent.slice(0, -1);
      } else {
        element.textContent += '_';
      }
    }, 500);
  }
}, 100);
</script>