---
import { getCollection } from 'astro:content';

import Layout from '../layouts/Layout.astro';

import CollectionPreview from '../components/CollectionPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

const projects = (await getCollection('work')).sort(
	(a:any, b:any) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<Layout
	title="My Work"
	description="Learn about my most recent projects"
>
	<div class="mb-4">
		<Hero
			title="My Work"
			tagline="My most recent projects"
		/>
	</div>
	<Grid>
		{
			projects.map((project:any) => (
				<li class="shadow-outline dark:shadow-outline-dark">
					<CollectionPreview project={project} />
				</li>
			))
		}
	</Grid>
</Layout>
