---
import { getCollection } from 'astro:content';

import Layout from '../layouts/Layout.astro';

import CollectionPreview from '../components/CollectionPreview.astro';
import Grid from '../components/Grid.astro';

const projects = (await getCollection('work')).sort(
	(a:any, b:any) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<Layout
	title="My Work"
	description="Learn about my most recent projects"
>
	<div class="mb-4">
		<div class="gap-2">
			<h1 class="text-4xl font-header md:text-6xl text-accent font-bold mb-2">My work</h1>
			<p class="text-lg font-body md:text-2xl text-primary-800 dark:text-primary-200 font-light">Projects I've worked on dating back to my undergrad.</p>
		</div>
	</div>
	<Grid>
		{
			projects.map((project) => (
				<li class="brutalist-outline brutalist-outline-hover">
					<CollectionPreview item={project} />
				</li>
			))
		}
	</Grid>
</Layout>
