---
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets'

interface Props {
	project: CollectionEntry<'work'>;
}

const { project } = Astro.props ;

const variants = ['violet', 'pink', 'red', 'orange', 'yellow', 'lime', 'cyan']

const randomVariant = variants[Math.floor(Math.random() * variants.length)]

const tailwind = `bg-${randomVariant}-400`
---

<a class="grid w-full overflow-hidden aspect-video mx-auto hover:brightness-90" href={`/work/${project.slug}`}>
	<span class:list={["absolute z-10 m-2 p-2 font-header text-xl lg:text-2xl font-bold brutalist-outline text-black", tailwind]}>{project.data.title}</span>
	<Image 
		src={project.data.img} 
		alt={project.data.img_alt || ''}
		width=1920
		height=1080
		loading="lazy" decoding="async" 
		class="w-full bg-cover"
	/>
</a>
