---
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets'

interface Props {
	project: CollectionEntry<'work'>;
}

const { project } = Astro.props ;
---

<a class="grid w-full overflow-hidden aspect-video mx-auto hover:brightness-90" href={`/work/${project.slug}`}>
	<span class="absolute z-10 m-2 p-2 bg-zinc-100 dark:bg-zinc-900 font-header text-xl lg:text-2xl font-bold shadow-outline dark:shadow-outline-dark">{project.data.title}</span>
	<Image 
		src={project.data.img} 
		alt={project.data.img_alt || ''}
		width=1920
		height=1080
		loading="lazy" decoding="async" 
		class="w-full bg-cover"
	/>
</a>
