---
import { Icon } from "astro-icon/components";
---

<footer class="flex gap-4 items-center mx-4 mb-4 h-full text-primary-400 dark:text-primary-600">
	<div class="">
		<p>Developed with <a href="https://astro.build/" class="underline" target="_blank">Astro</a></p>
		<p>© 2023 Kai Schuyler Gonzalez</p>
	</div>
	<div class="ml-auto">
		<a href="mailto:kai@kaischuyler.com" target="_blank">Contact Me</a>
		<a href="https://kaischuyler.com/blog" target="_blank">Blog</a>
	</div>
	<div class="">
		<a href="https://notbyai.fyi/">
			<Icon name="notbyai" class="text-4xl" />
		</a>
	</div>
</footer>

<style>
	div {
		@apply flex gap-4 flex-col md:flex-row;
	}
	a {
		@apply underline underline-offset-2 text-inherit;
	}
</style>