---
import { getEntry, type CollectionEntry } from 'astro:content';
import { Icon } from 'astro-icon'

interface Props {
    item: CollectionEntry<'grid'>,
    id?: string,
}

const { item, id } = Astro.props;
const entry:CollectionEntry<'grid'> = await getEntry('grid', item.slug);
const { Content } = await entry.render();
---

<div id={id} class:list={['flex flex-col gap-4 p-4 bg-zinc-200 dark:bg-zinc-900 shadow-outline dark:shadow-outline-dark', `col-span-${item.data.span}`]}>
    <div class="flex-0 flex items-center gap-2">
        <Icon name={item.data.icon} class="flex-0 text-emerald-400 h-8"/>
        <h2 class="flex-1 text-lg font-header text-emerald-400">{item.data.title}</h2>
    </div>
    <div class="flex-1 prose max-w-none prose-emerald dark:prose-invert">
        <Content />
    </div>
</div>

<style>
    @media (min-width: 768px) {
        #about {
            grid-column: 1 / -1;
        }
    }

    @media (min-width: 1024px) {
        #about {
            grid-column: 1 / span 2;
        } 
    }
</style>