---
interface Props {
	title: string;
	tagline?: string;
}

const {tagline, title } = Astro.props;
---

<div class="gap-2 font-header">
	<h1 class="text-4xl md:text-6xl text-fuchsia-400 font-bold">{title}</h1>
	{tagline && <p class="text-lg md:text-2xl text-slate-800 dark:text-slate-200 font-light">{tagline}</p>}
</div>
