---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="browsers" color="var(--gray-950)" size="2.5rem" />
		<h2>Front End</h2>
		<p>I am experienced in building pixel-perfect front end applications in React, Vue and vanilla HTML and CSS.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="apple" color="var(--gray-950)" size="2.5rem" />
		<h2>iOS</h2>
		<p>I've written iOS apps in Swift and Objective-C, as well as tools like React Native.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--gray-950)" size="2.5rem" />
		<h2>Graphics</h2>
		<p>I have experience with low-level graphics programming APIs like OpenGL and WebGL, as well as industry standards Unity and Unreal.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-image: linear-gradient(to bottom right, var(--gray-600), var(--gray-900));
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
		color: var(--gray-950);
	}

	.skills p {
		color: var(--gray-50);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
