---
// Learn about using Astro layouts:
// https://docs.astro.build/en/core-concepts/layouts/

// Component Imports
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import { ViewTransitions } from 'astro:transitions';
import colors from 'tailwindcss/colors'

interface Props {
	title?: string | undefined;
	description?: string | undefined;
	keywords?: string | undefined;
}

const { 
	title, 
	description="The personal site and portfolio of Kai Schuyler Gonzalez",
	keywords="developer designer web development design computer science portfolio zephy code kai schuyler gonzalez"
} = Astro.props;

const makeTitle = title? `${title} | Kai Schuyler Gonzalez` : 'Kai Schuyler Gonzalez';

const colorArray = [
colors.amber['400'],
    colors.blue['400'],
    colors.cyan['400'],
    colors.emerald['400'],
    colors.fuchsia['400'],
    colors.green['400'],
    colors.indigo['400'],
    colors.lime['400'],
    colors.orange['400'],
    colors.pink['400'],
    colors.purple['400'],
    colors.red['400'],
    colors.rose['400'],
    colors.sky['400'],
    colors.teal['400'],
    colors.violet['400'],
    colors.yellow['400'],
]

// Choose a color from the array based on the current day of the year, plus 2 adjecent colors
const dayIndex = new Date().getDay() % colorArray.length
const color1 = colorArray[dayIndex];
const color2 = colorArray[dayIndex + 1];
const color3 = colorArray[dayIndex + 2];
---

<html lang="en">
	<head>
		<MainHead title={makeTitle} description={description} keywords={keywords} />
		<ViewTransitions />
	</head>
	<body class="font-body bg-primary-50 dark:bg-primary-950 text-primary-800 dark:text-primary-200 scroll-smooth leading-6 flex flex-col h-screen justify-between bg-animated-gradient from-[var(--GRADIENT1)] from-10% via-[var(--GRADIENT2)] via-30% to-primary-50 dark:to-primary-950 to-50% bg-no-repeat bg-fixed">
		<div>
			<Nav />
		</div>
		<div class="m-4">
			<slot />
		</div>
		<div>
			<Footer />
		</div>
	</body>
</html>

<script define:vars={{ color1, color2, color3 }}>
	// set the default color if not in local storage
	document.addEventListener('astro:page-load', () => {
		if (localStorage.getItem('gradients')) {
			// localStorage.setItem('accent', defaultColor);
			document.documentElement.style.setProperty('--GRADIENT1', localStorage.getItem('gradients[0]'));
			document.documentElement.style.setProperty('--GRADIENT2', localStorage.getItem('gradients[1]'));
			document.documentElement.style.setProperty('--GRADIENT3', localStorage.getItem('gradients[2]'));
		} else {
			document.documentElement.style.setProperty('--GRADIENT1', color1);
			document.documentElement.style.setProperty('--GRADIENT2', color2);
			document.documentElement.style.setProperty('--GRADIENT3', color3);
		}
	});
	// Add “loaded” class once the document has completely loaded.
	addEventListener('load', () => document.documentElement.classList.add('loaded'));
</script>

<script>
	// open external links in new tab
	const links = document.querySelectorAll('a');
	links.forEach(link => {
		if (link.host !== window.location.host) {
			link.setAttribute('target', '_blank');
			link.setAttribute('rel', 'noopener noreferrer');
		}
	});
</script>